<header class="header">
  <nav>
    <a class="name" href="#introduction">M<span class="purple">e</span>ra<span class="green">n</span></a>
    <div class="links">
      <a href="#scroll-to-about-me"><span class=>About me</span></a>
      <a href="#scroll-to-my-skills"><span class=>Skills</span></a>
      <a href="#scroll-to-portfolio"><span class=>Portfolio</span></a>
      <div class="language">
        <a href="#">DE</a>
        <span>|</span>
        <a href="#">EN</a>
      </div>
    </div>
  </nav>
</header>