<header class="header">
  <nav>
    <a class="name" href="#introduction">M<span class="purple">e</span>ra<span class="green">n</span></a>

    <div class="links">
      <a href="#scroll-to-about-me"><span>{{ 'About me' | translate }}</span></a>
      <a href="#scroll-to-my-skills"><span>{{'Skills' | translate}}</span></a>
      <a href="#scroll-to-portfolio"><span>Portfolio</span></a>
      <div class="language">
        <a (click)="changeLanguage('de')">DE</a>
        <span>|</span>
        <a (click)="changeLanguage('en')">EN</a>
      </div>
    </div>


    <input (click)="showMobileMenu()" type="checkbox" id="menu_checkbox">
    <label class="mobile-nav-bar" for="menu_checkbox">
      <div [class.div1-change]="mobileMenu"></div>
      <div [class.div2-change]="mobileMenu"></div>
      <div [class.div3-change]="mobileMenu"></div>
    </label>
  </nav>
  <div *ngIf="mobileMenu" class="mobile-menu">
    <a href="#scroll-to-about-me" (click)="closeMobileMenu()"><span class="header-link-mobile">{{ 'About me' | translate
        }}</span></a>
    <a href="#scroll-to-my-skills" (click)="closeMobileMenu()"><span class="header-link-mobile">{{'Skills' |
        translate}}</span></a>
    <a href="#scroll-to-portfolio" (click)="closeMobileMenu()"><span class="header-link-mobile">Portfolio</span></a>
    <a href="#scroll-to-contact" (click)="closeMobileMenu()"><span class="header-link-mobile">{{ 'Contact' | translate
        }}</span></a>
    <div class="language">
      <a (click)="changeLanguage('de')">DE</a>
      <span>|</span>
      <a (click)="changeLanguage('en')">EN</a>
    </div>
  </div>
</header>