<footer>
  <div class="first-row">
    <a class="name" href="#introduction">M<span class="purple">e</span>ra<span class="green">n</span></a>

    <div class="copyright-box">
      <img src="assets/img/objects/copyright.png">
      <span>Meran Osman 2023</span>
    </div>

    <div class="contact-icons">
      <a href="https://github.com/MeranOsman" target="_blank">
        <img src="assets/img/objects/github.svg" alt="" />
      </a>
      <a href="#scroll-to-contact">
        <img src="assets/img/objects/mail.svg" alt="" />
      </a>
      <a href="http://www.linkedin.com/in/meran-osman" target="_blank">
        <img src="assets/img/objects/linkedin.svg" alt="" />
      </a>
    </div>
  </div>

  <div class="imprint-policy">
    <a (click)="scrollUp()" routerLink="/imprint">{{ 'Imprint' | translate }}</a>
    <span>|</span>
    <a (click)="scrollUp()" routerLink="/privacy-policy">{{ 'Privacy Policy' | translate }}</a>
  </div>
</footer>