:host {
  display: flex;
}

.project-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 220px;
  max-width: 100%;
  min-width: 100%;
  z-index: 2;
  gap: 15%;

  img {
    width: 370px;
    height: auto;
  }
}

.project-info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.img-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.change-direction-img {
  justify-content: flex-start;
}

.tec {
  font-weight: 400;
  font-size: 23px;
  color: var(--green);
  margin-bottom: 12px;
}

.description {
  color: white;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 33px;
  max-width: 510px;
}

.btn-container {
  display: flex;
  align-items: center;
}

.btn-live-test {
  color: white;
  font-weight: 400;
  font-size: 23px;
  font-weight: 300;
  background-color: var(--purple);
  width: 152px;
  height: 58px;
  border-radius: 10px;
  border: none;
  margin-right: 75px;

  &:hover {
    cursor: pointer;
    background-color: var(--green);
  }
}

.btn-github {
  color: white;
  font-weight: 400;
  font-size: 23px;
  font-weight: 300;
  background-color: unset;
  width: 152px;
  height: 58px;
  border-radius: 10px;
  border: 2px solid var(--green);

  &:hover {
    cursor: pointer;
    background-color: var(--green);
  }
}

.change-direction {
  flex-direction: row-reverse;
  margin-right: 0 !important;
}

.flex-end {
  align-items: flex-end;
}

.text-align {
  text-align: end;
}


@media(max-width: 1130px) {
  .btn-live-test {
    width: 132px;
    height: 53px;
    margin-right: 45px;
  }

  .btn-github {
    width: 132px;
    height: 53px;
  }

  .project-container {
    gap: 11%;
    margin-bottom: 170px;

    img {
      width: 330px;
    }
  }


}


@media(max-width: 940px) {
  .btn-live-test {
    margin-right: 30px;
  }
}


@media(max-width: 900px) {
  .project-container {
    flex-direction: column;
  }

  .img-container {
    width: auto;
  }

  .project-info {
    width: 100%;
    align-items: center;
    margin-top: 32px;
  }

  .description {
    text-align: center;
  }

  .btn-live-test {
    width: 152px;
    height: 58px;
    margin-right: 65px;
  }

  .btn-github {
    width: 152px;
    height: 58px;
  }
}


@media(max-width: 500px) {
  .project-container img {
    width: 250px;
  }

  .description {
    font-size: 15px;
  }

  .btn-live-test {
    margin-right: 30px;
    font-size: 18px;
    height: 48px;
    width: 105px;
  }

  .btn-github {
    font-size: 18px;
    height: 48px;
    width: 105px;
  }
}