:host {
  display: block;
  background-color: var(--dark-blue);
  position: relative;
  padding-bottom: 24px;
  margin-top: -1px;
}

section {
  width: 75vw;
  margin: auto;
}

.header-portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.scroll-to-portfolio {
  position: absolute;
  top: -110px;
}

.headline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headline {
  margin: 0 0 0 40px;
  color: white;
}

.info-text {
  font-weight: 300;
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 120px;
}

.short-purple-line {
  border: 2px solid var(--purple);
  width: 7.5%;
  height: 0;
  margin-left: -160px;
  margin-top: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.long-purple-line {
  border: 2px solid var(--purple);
  width: 35.4%;
  height: 0;
  position: absolute;
  top: 68px;
  right: 0;
}

.form {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 750px;
}

.form-2 {
  position: absolute;
  bottom: -110px;
  right: 0;
  z-index: 1;
}

@media(max-width: 1250px) {
  .long-purple-line {
    top: 54px;
  }
}


@media(max-width: 1100px) {
  .long-purple-line {
    width: 29%;
  }
}


@media(max-width: 900px) {
  .long-purple-line {
    width: 26%;
  }

  .form {
    top: 786px;
    width: 547px;
  }
}


@media(max-width: 750px) {
  .long-purple-line {
    width: 23%;
  }
}


@media(max-width: 700px) {
  .info-text {
    padding: 0 60px;
  }

  .headline {
    margin-left: 45px;
  }
}


@media(max-width: 630px) {
  .info-text {
    padding: 0 30px;
  }
}


@media(max-width: 600px) {
  .long-purple-line {
    top: 46px;
  }

  .form-2 {
    width: 80%;
  }
}


@media(max-width: 550px) {
  :host {
    padding-bottom: 80px;
  }

  .long-purple-line {
    width: 19%;
  }

  .short-purple-line {
    margin-left: -111px;
  }

  .info-text {
    margin-bottom: 90px;
  }
}


@media(max-width: 500px) {
  .long-purple-line {
    display: none;
  }

  .short-purple-line {
    margin-left: 0;
    width: 24%;
  }

  .headline-container {
    justify-content: start;
  }

  .form-2 {
    width: 68%;
  }
}


@media(max-width: 430px) {
  .short-purple-line {
    width: 18%;
  }

  .headline {
    margin-left: 35px;
  }

  .info-text {
    font-size: 15px;
  }
}


@media(max-width:400px) {
  .short-purple-line {
    width: 15%;
  }

  .form {
    top: 754px;
    width: 415px;
  }
}


@media(max-width:360px) {
  .info-text {
    padding: 0 15px;
  }

  .headline {
        margin-left: 20px;
  }
}


@media(min-width: 1500px) {
  .info-text {
    margin-bottom: 170px;
  }
}
