:host {
  display: block;
  background-color: var(--dark-blue);
  position: relative;
  padding-bottom: 24px;
  margin-top: -1px;
}

section {
  max-width: 1920px;
  width: 75vw;
  margin: auto;
}

.header-portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.scroll-to-portfolio {
  position: absolute;
  top: -110px;
}

.headline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headline {
  margin: 0;
  color: white;
}

.info-text {
  font-weight: 300;
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 120px;
}

.short-purple-line {
  border: 2px solid var(--purple);
  width: 7.5%;
  height: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  position: absolute;
  top: 68px;
  left: 27%;
}

.long-purple-line {
  border: 2px solid var(--purple);
  width: 34.1%;
  height: 0;
  position: absolute;
  top: 68px;
  right: 0;
}

.form {
  position: absolute;
  top: 530px;
  left: 45%;
  width: 670px;
  opacity: 0.6;
  pointer-events: none;
}

.form-2 {
  position: absolute;
  bottom: -240px;
  right: 0;
  z-index: 1;
  pointer-events: none;
}


@media(max-width: 1400px) {
  .long-purple-line {
    width: 32%;
  }

  .short-purple-line {
    left: 25%;
  }
}


@media(max-width: 1250px) {
  .long-purple-line {
    top: 54px;
  }

  .short-purple-line {
    top: 54px;
  }

  .form-2 {
    width: 320px;
  }

  :host {
    padding-bottom: 0;
  }
}


@media(max-width: 1000px) {
  .long-purple-line {
    width: 30%;
  }

  .short-purple-line {
    left: 23%;
  }
}


@media (max-width: 930px) {
  section {
    width: 90vw;
  }

  .form {
    top: 722px;
    left: 29%;
    width: 500px;
  }

  .form-2 {
    width: 300px;
  }

  :host {
    margin-bottom: -20px;
  }
}


@media(max-width: 850px) {
  .long-purple-line {
    width: 27%;
  }

  .short-purple-line {
    left: 19.8%;
  }
}


@media(max-width: 730px) {
  .long-purple-line {
    width: 23%;
  }

  .short-purple-line {
    left: 15.8%;
  }
}


@media(max-width: 600px) {
  .long-purple-line {
    top: 46px;
  }

  .short-purple-line {
    top: 46px;
  }

  .info-text {
    margin-top: 22px;
  }

  .form {
    top: 739px;
    left: 13%;
    width: 450px;
  }

  .form-2 {
    bottom: -190px;
    width: 250px;
  }
}


@media(max-width: 550px) {
  .info-text {
    margin-bottom: 90px;
  }

  .long-purple-line {
    width: 19%;
  }

  .short-purple-line {
    left: 11.8%;
  }
}


@media(max-width: 500px) {
  .long-purple-line {
    top: 41px;
  }

  .short-purple-line {
    top: 41px;
  }

  .form {
    top: 683px;
    left: 13%;
    width: 400px;
  }

  :host {
    margin-bottom: -40px;
  }

  .form-2 {
    bottom: -135px;
    width: 210px;
  }
}


@media(max-width: 430px) {
  .info-text {
    font-size: 15px;
  }

  .long-purple-line {
    width: 15%;
  }

  .short-purple-line {
    left: 7.8%;
  }

  .form {
    top: 670px;
    left: 4%;
    width: 400px;
  }

  .form-2 {
    bottom: -70px;
    width: 150px;
    right: -10px;
  }
}


@media(max-width: 360px) {
  .long-purple-line {
    top: 34px;
  }

  .short-purple-line {
    top: 34px;
  }

  .info-text {
    margin-top: 18px;
  }

  :host {
    margin-bottom: -50px;
  }
}