<div data-aos="fade-left" data-aos-offset="190" class="headline-container">
  <div class="short-purple-line"></div>
  <h1 class="headline">Portfolio</h1>
  <div class="long-purple-line"></div>
</div>
<section>
  <div class="header-portfolio">
    <div class="scroll-to-portfolio" id="scroll-to-portfolio"></div>

    <span data-aos="fade-right" data-aos-offset="10" class="info-text">This page is a sample of my work - please feel
      free to try them out.</span>

  </div>

  <img class="form" src="assets/img/objects/form-portfolio5.png">
  <img class="form-2" src="assets/img/objects/form-portfolio2.png">

  <app-project *ngFor="let currentProject of projects; let odd = odd" [project]="currentProject"
    [isOdd]="odd"></app-project>
</section>