<div data-aos="fade-right" class="purple-line"></div>
<div data-aos="fade-right" data-aos-offset="180" class="main-contact-container">
  <div class="scroll-to-contact" id="scroll-to-contact"></div>
  <h1 class="headline">Contact</h1>

  <div class="contact-container">
    <div data-aos="fade-right" data-aos-offset="140" class="info-box">
      <span class="span-headline">Got a problem to solve?</span>
      <span class="span-contact">Contact me through this form, I am interested in hearing you, knowing your ideas and
        contributing to your projects with my work.</span>
      <span class="span-need">Need a Frontend developer?&nbsp;<p class="p-bold">Contact me!</p></span>
    </div>

    <app-contactform></app-contactform>

    <div class="scroll-up-img" (click)="scrollUp()"></div>
  </div>
</div>

<img class="shadow" src="assets/img/objects/form-portfolio3.png">