:host {
  display: block;
  background-color: var(--dark-blue);
  position: relative;
  width: 100vw;
  margin-top: -1px;
}

.main-contact-container {
  max-width: 1920px;
  width: 75vw;
  margin: auto;
  position: relative;
}

.scroll-to-contact {
  position: absolute;
  top: -110px;
}

.purple-line {
  position: absolute;
  left: 0;
  top: 64px;
  width: 9%;
  height: 0;
  margin-right: 32px;
  border: 2px solid var(--purple);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.headline {
  margin-top: 0;
  margin-bottom: 0;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-bottom: 170px;
  margin-top: 72px;
  z-index: 2;
  position: relative;
}

.info-box {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-weight: 300;
  font-size: 16px;
}

.span-headline {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 35px;
}

.span-contact {
  margin-bottom: 25px;
}

.span-need {
  display: flex;
  align-items: baseline;
}

.p-bold {
  font-weight: 700;
  font-size: 16px;
}

.scroll-up-img {
  width: 39px;
  height: 39px;
  position: absolute;
  right: 0;
  bottom: 80px;
  background-image: url('../../../assets/img/objects/scroll-up.svg');

  &:hover {
    cursor: pointer;
    background-image: url('../../../assets/img/objects/scroll-up-green.svg');

  }
}

.shadow {
  position: absolute;
  left: 0;
  bottom: -280px;
}


@media (max-width: 1250px) {
  .purple-line {
    top: 52px;
  }

  .shadow {
    bottom: -250px;
    width: 542px;
  }
}


@media (max-width: 1110px) {
  .span-need {
    flex-direction: column;
  }

  .p-bold {
    margin: 2px 0 0 0;
  }
}


@media (max-width: 930px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    gap: 60px;
  }

  .main-contact-container {
    width: 90vw;
  }

  .purple-line {
    width: 3.2%;
  }

  .info-box {
    width: auto;
  }

  .span-need {
    flex-direction: unset;
  }

  .shadow {
    bottom: -257px;
    width: 509px;
    left: -112px;
    opacity: 0.8;
  }
}


@media (max-width: 600px) {
  .purple-line {
    top: 43px;
  }

  .shadow {
    width: 486px;
  }
}


@media (max-width: 500px) {
  .purple-line {
    top: 40px;
  }

  .info-box {
    font-size: 15px;
  }

  .p-bold {
    font-size: 15px;
  }

  .span-headline {
    font-size: 23px;
    margin-bottom: 20px;
  }

  .contact-container {
    margin-top: 12px;
    gap: 45px;
  }

  .span-contact {
    margin-bottom: 14px;
  }
}


@media(max-width: 480px) {
  .shadow {
    width: 448px;
  }
}


@media(max-width: 380px) {
  .span-need {
    flex-direction: column;
  }
}


@media(max-width: 360px) {
  .purple-line {
    top: 32px;
  }
}