<div data-aos="fade-right" class="purple-line"></div>
<div data-aos="fade-right" data-aos-offset="180" class="main-contact-container">
  <div class="scroll-to-contact" id="scroll-to-contact"></div>
  <h1 class="headline">{{ 'Contact' | translate }}</h1>

  <div class="contact-container">
    <div data-aos="fade-right" data-aos-offset="160" class="info-box">
      <span class="span-headline">{{ 'problem' | translate }}</span>
      <span class="span-contact">{{ 'contact me' | translate }}</span>
      <span [ngClass]="{ 'span-need-german': ('need' | translate) === 'Brauchen Sie einen Frontend-Entwickler?' }"
        class="span-need">{{ 'need' | translate }}&nbsp;<p
          [ngClass]="{ 'p-bold-german': ('Contact me' | translate) === 'Kontaktieren Sie mich!' }" class="p-bold">{{
          'Contact me' | translate }}</p></span>
    </div>

    <app-contactform data-aos="fade-left" data-aos-offset="160"></app-contactform>

    <div class="scroll-up-img" (click)="scrollUp()"></div>
  </div>
</div>

<img class="shadow" src="assets/img/objects/form-portfolio3.png">