:host {
  width: 100vw;
  color: white;
  background-color: var(--dark-blue);
  display: flex;
  padding-bottom: 120px;
  position: relative;
  margin-top: -1px;
}

.skills-container {
  display: flex;
  width: 75vw;
  margin: auto;
  position: relative;
}

.scroll-to-my-skills {
  position: absolute;
  top: -110px;
}

.skills {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  z-index: 3;
}

.skill-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 80px 60px 0;
  width: 85px;

  img {
    max-width: 55.8px;
    max-height: 60px;
    object-fit: contain;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    &:hover {
      animation-name: bounce;
      -moz-animation-name: bounce;
    }
  }

  span {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
  }
}

@keyframes bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px)
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px)
  }
}

.headline {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 9;
  height: 370px;

  span {
    margin-top: 20px;
    margin-bottom: 38px;
    font-weight: 300;
    font-size: 16px;
    text-align: end;
  }
}

.headline-my-skills {
  margin-bottom: 0;
}

.btn-a-skills {
  position: absolute;
  bottom: 0;
  transform: translate(-50%);
}

.btn-get-in-touch {
  width: 195px;
  height: 58px;
  color: white;
  background-color: var(--green);
  border-radius: 10px;
  border: none;
  font-size: 23px;
  font-weight: 300;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: var(--purple);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
  }
}

.purple-line {
  border: 2px solid var(--purple);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 0px;
  width: 9%;
  position: absolute;
  right: 0;
  top: 128px;
}

.background-form {
  position: absolute;
  left: 0px;
  bottom: -410px;
  z-index: 2;
}


@media (max-width: 1350px) {
  .headline-my-skills {
    font-size: 85px;
  }

  .purple-line {
    top: 120px;
  }
}


@media(max-width: 1250px) {
  .purple-line {
    top: 99px;
  }

  .headline-my-skills {
    font-size: 70px;
  }

  .skill-box {
    margin-right: 75px;
  }

  .headline {
    height: 350px;
  }

  .background-form {
    bottom: -530px;
  }
}


@media(max-width: 1080px) {
  .skills-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .skills {
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
    column-gap: 80px;
  }

  .btn-a-skills {
    bottom: -400px;
    left: calc(50%);
  }

  .skill-box {
    margin: 0 0 55px 0;
  }

  .headline {
    width: 100%;
    align-items: end;
    height: 285px;
  }

  .text-skills {
    text-align: end !important;
  }
}


@media(max-width: 993px) {
  .btn-a-skills {
    bottom: -550px;
  }
}


@media (max-width: 930px) {
  .skills-container {
    width: 90%;
  }

  .purple-line {
    width: 3.2%;
  }

  .btn-a-skills {
    bottom: -390px;
  }
}

@media(max-width: 827px) {
  .btn-a-skills {
    bottom: -550px;
  }

  .background-form {
    left: -25px;
    bottom: -330px;
  }
}


@media(max-width: 644px) {
  .btn-a-skills {
    bottom: -690px;
  }
}


@media(max-width: 600px) {
  .headline-my-skills {
    font-size: 60px;
  }

  .headline {
    height: 260px;
  }

  .purple-line {
    top: 85px;
  }
}


@media (max-width: 500px) {
  .headline-my-skills {
    font-size: 55px;
  }

  .skill-box {
    margin: 0 0 35px 0;

    img {
      max-width: 40.8px;
      max-height: 45px;
    }

    span {
      font-size: 12px;
    }
  }

  .headline {
    height: 250px;
  }

  .purple-line {
    top: 76px;
  }

  .skills {
    column-gap: 16px;
  }

  .background-form {
    left: -90px;
  }

  .btn-a-skills {
    bottom: -410px;
  }

  .btn-get-in-touch {
    width: 140px;
    height: 50px;
    font-size: 18px;
  }
}


@media(max-width: 450px) {
  .text-skills {
    font-size: 15px !important;
  }

  .background-form {
    bottom: -340px;
  }
}

@media(max-width: 431px) {
  .btn-a-skills {
    bottom: -510px;
  }
}


@media(max-width: 360px) {
  .headline-my-skills {
    font-size: 45px;
  }

  .purple-line {
    top: 64px;
  }
}