:host {
  width: 100vw;
  background-color: var(--dark-blue);
  display: flex;
}

section {
  max-width: 1920px;
  width: 75vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 110px 0 60px 0;

  a {
    color: var(--purple);

    &:hover {
      color: var(--green);
    }
  }
}

h1 {
  font-size: 32px;
}


@media (max-width: 930px) {
  section {
    width: 90vw;
  }
}