<div class="introduction-container" id="introduction">
  <img class="introduction-img" src="assets/img/meran.png" data-aos="fade-right" />

  <div data-aos="fade-left" data-aos-offset="-5000" class="name-container">
    <div class="intro-box">
      <div class="text-I-am">{{'I am' | translate}}</div>
      <div class="name-dev">
        <span class="intro-name">Meran Osman</span>
        <span class="intro-dev">FRONTEND {{'DEVELOPER' | translate}}</span>
      </div>
    </div>
    <a data-aos="fade-down" data-aos-anchor-placement="top-center" data-aos-offset="-5000" class="btn-talk-a"
      href="#scroll-to-contact">
      <button class="btn-talk">{{'Lets talk' | translate}}</button>
    </a>
  </div>

  <img id="vector1" class="background-form" src="assets/img/objects/intro-form.png" />
  <img id="vector2" class="d-none background-form" src="assets/img/objects/Vector.png" />
</div>

<div class="section-between">
  <div class="contact-icons">
    <div class="purple-line"></div>
    <a href="https://github.com/MeranOsman" target="_blank">
      <img src="assets/img/objects/github.svg" alt="" />
    </a>
    <a href="#scroll-to-contact">
      <img src="assets/img/objects/mail.svg" alt="" />
    </a>
    <a href="#" target="_blank">
      <img src="assets/img/objects/linkedin.svg" alt="" />
    </a>
    <span class="contact-mail">meran.osman@gmx.de</span>
  </div>

  <div class="scroll-down">
    <span>{{'Scroll down' | translate}}<img src="assets/img/objects/arrow-down-line.svg" /></span>
  </div>
</div>

<img class="intro-background-form" src="assets/img/objects/intro-img.png" />