@media(max-width: 1920px) {
    .intro-name {
        font-size: 74px;
    }

    .intro-dev {
        font-size: 55px;
    }

    .text-I-am {
        font-size: 55px;
    }

    .background-form {
        top: 350px;
    }

    .introduction-img {
        height: 591px;
        margin-top: 153px;
    }

    .name-container {
        margin-top: 292px;
    }
}


@media(max-width: 1650px) {
    .name-container {
        margin-top: 300px;
    }

    .intro-name {
        font-size: 51px;
    }

    .intro-dev {
        font-size: 38px;
        margin-top: -5px;
    }

    .text-I-am {
        font-size: 43px;
        margin-left: -143px;
    }

    .background-form {
        top: 330px;
    }

    .introduction-img {
        height: 550px;
        margin-top: 172px;
    }

    .intro-background-form {
        left: 25px;
        top: 135px;
    }

    .scroll-down {
        right: 8vw;

        span {
            font-size: 23px;

            img {
                width: 24px;
            }
        }
    }
}


@media(max-width:1365px) {
    .intro-name {
        font-size: 45px;
    }

    .intro-dev {
        font-size: 35px;
    }

    .text-I-am {
        font-size: 40px;
    }

    .introduction-img {
        height: 480px;
        margin-top: 140px;
    }

    .intro-background-form {
        left: -25px;
        top: 137px;
    }

    .background-form {
        top: 230px;
    }

    .name-container {
        margin-top: 225px;
    }

    .scroll-down {
        right: 7vw;
    }
}


@media(max-width:1270px) {
    .intro-name {
        font-size: 41px;
    }

    .intro-dev {
        font-size: 34px;
    }

    .text-I-am {
        font-size: 37px;
    }
}


@media(max-width:1185px) {
    .text-I-am {
        margin-left: -99px;
        font-size: 36px;
    }

    .intro-dev {
        font-size: 32px;
    }

    .btn-talk-a {
        margin-left: -130px;
    }

    .scroll-down {
        right: 5.5vw;
    }
}


@media(max-width: 1122px) {
    #vector1 {
        display: none;
    }

    #vector2 {
        display: block !important;
    }

    .background-form {
        top: 360px;
    }

    .intro-name {
        font-size: 36px;
    }

    .intro-dev {
        font-size: 27px;
    }

    .text-I-am {
        font-size: 30px;
    }

    .name-container {
        margin-top: 260px;
    }

    .introduction-img {
        height: 400px;
        margin-top: 160px;
    }

    .intro-background-form {
        left: -94px;
        top: 148px;
    }

    .scroll-down {
        top: -10px;
    }
}


@media(max-width:1010px) {
    .scroll-down-div {
        right: 36px;
    }
}


@media(max-width:930px) {
    :host {
        position: relative;
        padding-bottom: 110px;
    }

    .introduction-container {
        flex-direction: column;
        align-items: center;
    }

    .background-form {
        top: 315px;
    }

    .name-container {
        z-index: 99;
        margin-top: 25px;
    }

    .introduction-img {
        margin-top: 115px;
    }

    .intro-name {
        font-size: 40px;
    }

    .intro-dev {
        font-size: 33px;
    }

    .text-I-am {
        margin-left: 0;
        font-size: 35px;
    }

    .purple-line {
        width: 70px;
    }

    .contact-mail {
        font-size: 18px;
    }

    .scroll-down {
        top: -130px;
        right: -3.5vw;
    }

    .btn-talk-a {
        margin-left: 0px;
    }

    .intro-background-form {
        left: 5px;
        top: 90px;
    }

    .section-between {
        margin-top: 45px;
    }

    .name-dev {
        margin-right: 15px;
    }
}


@media(max-width: 800px) {
    .intro-background-form {
        left: -50px;
    }

    .introduction-container {
        width: 90vw;
    }
}


@media(max-width: 700px) {
    .contact-mail {
        display: none;
    }

    .introduction-img {
        height: 370px;
        margin-top: 130px;
    }

    .background-form {
        top: 290px;
    }

    .intro-background-form {
        left: -100px;
    }

    .scroll-down {
        top: -80px;
        right: -4.5vw;

        span {
            font-size: 20px;
        }
    }
}


@media(max-width:630px) {
    #vector1 {
        display: block !important;
    }

    #vector2 {
        display: none !important;
    }

    .text-I-am {
        font-size: 31px;
    }

    .intro-name {
        font-size: 40px;
        line-height: 124%;
    }

    .intro-dev {
        font-size: 31px;
    }

    .background-form {
        top: 110px;
        width: 183%;
    }

    .scroll-down {
        display: none;
    }
}


@media(max-width: 550px) {
    :host {
        padding-bottom: 100px;
    }

    .background-form {
        top: 110px;
    }

    .intro-background-form {
        left: -163px;
    }

    .btn-talk {
        width: 140px;
        height: 50px;
        font-size: 18px;
    }
}


@media(max-width:480px) {
    .introduction-img {
        height: 320px;
    }

    .intro-name {
        font-size: 35px;
    }

    .intro-dev {
        font-size: 27px;
    }

    .text-I-am {
        font-size: 27px;
    }

    .name-container {
        margin-top: 25px;
    }

    .background-form {
        top: 62px;
        width: 206%;
    }

    .intro-background-form {
        left: -170px;
    }

    .section-between {
        margin-top: 65px;
    }

    .section-between {
        margin-top: 40px;
    }

    :host {
        padding-bottom: 90px;
    }
}


@media(max-width:430px) {
    .introduction-img {
        height: 290px;
        margin-top: 110px;
        margin-left: 16px;
    }

    .intro-background-form {
        left: -190px;
        top: 80px;
    }

    .intro-dev {
        font-size: 24.5px;
    }

    .text-I-am {
        font-size: 24.5px;
    }

    .blue-line {
        width: 45px;
    }

    .background-form {
        top: 10px;
    }
}


@media(max-width: 372px) {
    .name-container {
        width: 340px;
    }

    .intro-dev {
        font-size: 23px;
    }
}