:host {
    width: 100vw;
    background-color: var(--dark-blue);
    display: flex;
}

section {
    max-width: 1920px;
    width: 75vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 110px 0 60px 0;
    word-wrap: break-word;

    a {
        color: var(--purple);

        &:hover {
            color: var(--green);
        }
    }
}

h1 {
    font-size: 56px;
    margin-bottom: 8px;
}

h2 {
    color: white;
    margin: initial;
}


@media (max-width: 930px) {
    section {
        width: 90vw;
    }
}


@media (max-width: 500px) {
    section {
        font-size: 15px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }
}