:host {
    width: 50%;
}

.container {
    background-color: var(--dark-blue);
    color: white;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    background-color: var(--dark-blue);
    padding: 12px 50px 12px 24px;
    border: 1px solid var(--purple);
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 6px;

    &:hover {
        border: 1px solid var(--green);
    }

    &:focus {
        outline: none;
        border: 1px solid var(--green);
    }

    &::placeholder {
        color: white;
        font-weight: 300;
        padding-right: 24px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}

textarea {
    margin-bottom: 0px;
}

textarea::-webkit-resizer {
    background-image: url('../../../../assets/img/objects/Group.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=submit] {
    background-color: var(--green);
    color: white;
    font-size: 24px;
    font-weight: 300;
    padding: 12px 28px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:disabled {
    opacity: 0.5;

    &:hover {
        background-color: var(--green);
        cursor: default;
    }
}

input[type=submit]:hover {
    background-color: var(--purple);
}

textarea::-webkit-scrollbar {
    width: 7px;
}

textarea::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 4px;
}

textarea::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 10px;

    &:hover {
        background: var(--green);
    }
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 24px;
    min-height: 24px;
    background-image: url('.././../../../assets/img/objects/default.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
        background-image: url('.././../../../assets/img/objects/default-hover.svg');
    }

    &:checked {
        background-image: url('.././../../../assets/img/objects/checked.svg');

        &:hover {
            background-image: url('.././../../../assets/img/objects/checked-hover.svg');
        }
    }
}

.check-privacy-policy {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 36px;

    a {
        text-decoration: none;
        color: var(--purple);

        &:hover {
            text-decoration: underline;
        }
    }
}

.required-field {
    margin-bottom: 32px;
}



.required-field-textarea {
    margin-bottom: 12px;
}

.required-span {
    color: var(--red);
    font-size: 14px;
    font-weight: 300;
}

.error {
    border: 1px solid var(--red) !important;
    background-image: url('../../../../assets/img/objects/error.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-origin: border-box;
    background-position: calc(100% - 16px) center;
}

.done {
    border: 1px solid var(--green) !important;
    background-image: url('../../../../assets/img/objects/done.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-origin: border-box;
    background-position: calc(100% - 16px) center;
}

.error-textarea {
    border: 1px solid var(--red) !important;
    background-image: url('../../../../assets/img/objects/error.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position: calc(100% - 16px) 12px;
    background-position-x: calc(100% - 16px);
    background-position-y: 12px;
}

.done-textarea {
    border: 1px solid var(--green) !important;
    background-image: url('../../../../assets/img/objects/done.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-origin: border-box;
    background-position-x: calc(100% - 16px);
    background-position-y: 12px;
}

.sent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.success-text {
    display: flex;
    align-items: center;
    color: var(--green);
    font-size: 18px;
    font-weight: 300;
    gap: 12px;

    img {
        width: 22px;
        height: 22px;
    }
}


@media (max-width: 930px) {
    :host {
        width: auto;
    }
}


@media (max-width: 500px) {
    textarea {
        height: 180px;
    }

    input[type=text],
    input[type=email] {
        height: 45px;
        font-size: 15px;
    }

    textarea {
        font-size: 15px;
    }

    .required-field {
        margin-bottom: 26px;
    }

    input[type=submit] {
        font-size: 18px;
    }

    .required-span {
        font-size: 13px;
    }

    .check-privacy-policy {
        font-size: 13px;
    }

    .success-text {
        font-size: 17px;
    }
}