<div class="container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

        <div class="required-field">
            <input
                [ngClass]="{ 'error': (name.errors?.['minlength'] || name.errors?.['required']) && name.touched, 'done': !(name.errors?.['minlength'] || name.errors?.['required']) && name.touched }"
                #name="ngModel" [(ngModel)]="contactData.name" required minlength="3" type="text" id="name" name="name"
                placeholder="{{ 'Your name' | translate }}">
            <span class="required-span"
                *ngIf="name.errors?.['required'] && name.touched && !name.errors?.['minlength']">{{ 'name required' |
                translate }}</span>
            <span class="required-span" *ngIf="name.errors?.['minlength'] && name.touched">{{ '3 letters' | translate
                }}</span>
        </div>

        <div class="required-field">
            <input [ngClass]="{ 
                'error': (email.errors?.['required'] && email.touched && !email.errors?.['pattern']) || (email.errors?.['pattern'] && email.touched),
                'done': email.touched && !email.errors
              }" #email="ngModel" [(ngModel)]="contactData.email" required type="email"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" id="email" name="email"
                placeholder="{{ 'Your email' | translate }}">
            <span class="required-span"
                *ngIf="email.errors?.['required'] && email.touched && !email.errors?.['pattern']">{{ 'email required' |
                translate }}</span>
            <span class="required-span" *ngIf="email.errors?.['pattern'] && email.touched">{{ 'email valid' | translate
                }}</span>
        </div>

        <div class="required-field-textarea">
            <textarea
                [ngClass]="{ 'error-textarea': (message.errors?.['minlength'] || message.errors?.['required']) && message.touched, 'done-textarea': !(message.errors?.['minlength'] || message.errors?.['required']) && message.touched }"
                #message="ngModel" [(ngModel)]="contactData.message" required id="message" name="message"
                placeholder="{{ 'Your message' | translate }}" minlength="4" style="height:200px"></textarea>
            <span class="required-span"
                *ngIf="message.errors?.['required'] && message.touched && !message.errors?.['minlength']">{{ 'message
                required' | translate }}</span>
            <span class="required-span" *ngIf="message.errors?.['minlength'] && message.touched">{{ '4 letters' |
                translate }}</span>
        </div>

        <div class="check-privacy-policy">
            <input #checkbox="ngModel" [(ngModel)]="contactData.checkbox" type="checkbox" required name="checkbox">
            <span>{{ 'Ive read the' | translate }}<a (click)="scrollUp()" routerLink="/privacy-policy">{{ 'privacy
                    policy' | translate }}</a>{{ 'agree' | translate }}</span>
        </div>

        <div class="sent">
            <div class="center">
                <input [disabled]="!contactForm.valid" type="submit" value="{{ 'Send message' | translate }}">
            </div>
            <span *ngIf="showSuccessText" class="success-text">
                <img src="../../../../assets/img/objects/done.svg">
                {{ 'success' | translate }}
            </span>
        </div>

    </form>
</div>