:host {
  width: 100vw;
  display: flex;
  background-color: var(--dark-blue);
  color: white;
  padding-bottom: 260px;
  position: relative;
  z-index: 99;
}

.scroll-to-about-me {
  position: absolute;
  top: -110px;
}

.about-me-container {
  max-width: 1920px;
  width: 100%;
  margin-left: 12.5vw;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin-top: 80px;
}

.text-container {
  max-width: 930px;
}

.headline {
  margin-top: 0;
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  font-weight: 300;
}

.img-container {
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    width: 420px;
    height: 420px;
    object-fit: cover;
    object-position: -2px 18px;
    border: 4px solid var(--green);
    border-radius: 100%;
  }
}

.purple-line-img {
  border: 2px solid var(--green);
  width: 12.5vw;
  height: 0;
}

.text-box {
  display: flex;
  margin-top: 35px;
  font-weight: 300;
}

.bulb-icon {
  margin-right: 49px;
  object-fit: contain;
  object-position: top;
  margin-top: 7px;
}

.puzzle-icon {
  margin-right: 35px;
  object-fit: contain;
  object-position: top;
  margin-top: 8px;
}

.background-form {
  position: absolute;
  right: 0;
  top: -280px;
  pointer-events: none;
}


@media(max-width: 1920px) {
  .text-container {
    max-width: 700px;
  }

  .img-container {
    margin-top: 40px;
  }
}


@media (max-width: 1750px) {
  .about-me-container {
    align-items: flex-end;
    margin-top: 0px;
  }

  .text-container {
    max-width: 530px;
  }
}


@media (max-width: 1400px) {
  .img-container img {
    width: 370px;
    height: 370px;
  }

  .img-container {
    width: 48%;
  }

  .blue-line-img {
    width: 22%;
  }

  .about-me-container {
    align-items: center;
  }

  :host {
    padding-bottom: 220px;
  }
}


@media (max-width: 1250px) {
  .text-container {
    max-width: 420px;
  }

  .img-container img {
    width: 330px;
    height: 330px;
  }
}


@media (max-width: 1080px) {
  .about-me-container {
    align-items: center;
  }

  .img-container {
    display: none;
  }

  .text-container {
    max-width: unset;
  }

  .headline {
    margin-bottom: 18px;
  }

  .about-me-container {
    width: 75vw;
    margin: auto;
  }

  .background-form {
    top: -190px;
  }

  :host {
    padding-bottom: 100px;
  }
}


@media (max-width: 930px) {
  .about-me-container {
    width: 90vw;
  }
}


@media(max-width: 600px) {
  .description {
    font-size: 15px;
  }

  .text-box {
    font-size: 15px;
  }

  .background-form {
    right: -40px;
  }
}


@media(max-width: 400px) {
  .headline {
    margin-bottom: 8px;
  }

  .background-form {
    right: -100px;
  }

  :host {
    padding-bottom: 80px;
  }
}