:host {
  width: 100vw;
  display: flex;
  background-color: var(--dark-blue);
  color: white;
  padding-bottom: 280px;
  position: relative;
  z-index: 99;
}

.scroll-to-about-me {
  position: absolute;
  top: -110px;
}

.about-me-container {
  width: 100%;
  margin-left: 12.5vw;
  z-index: 2;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin-top: 80px;
}

.text-container {
  max-width: 930px;
}

.headline {
  margin-top: 0;
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  font-weight: 300;
}

.img-container {
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    width: 453px;
    height: 453px;
    object-fit: cover;
    object-position: left;
    border: 4px solid var(--green);
    border-radius: 100%;
  }
}

.blue-line-img {
  border: 2px solid var(--green);
  width: 34%;
  height: 0;
}

.text-box {
  display: flex;
  margin-top: 35px;
}

.bulb-icon {
  margin-right: 49px;
  object-fit: contain;
}

.puzzle-icon {
  margin-right: 35px;
  object-fit: contain;
}

.background-form {
  position: absolute;
  right: 0;
  top: -280px;
}


@media(max-width: 2000px) {
  .text-container {
    max-width: 830px;
  }

  .img-container {
    margin-top: 15px;
  }
}


@media (max-width: 1750px) {
  .about-me-container {
    align-items: flex-end;
    margin-top: 0px;
  }

  .text-container {
    max-width: 530px;
  }

  .img-container {
    margin-top: 0;
  }
}


@media (max-width: 1400px) {
  .img-container img {
    width: 400px;
    height: 400px;
  }

  .img-container {
    width: 48%;
  }

  .blue-line-img {
    width: 22%;
  }

  .about-me-container {
    align-items: center;
  }
}


@media (max-width: 1250px) {
  .text-container {
    max-width: 420px;
  }

  .headline {
    margin-bottom: 5px;
  }
}


@media (max-width: 1120px) {
  .img-container img {
    width: 350px;
    height: 350px;
  }
}


@media (max-width: 1040px) {
  .text-container {
    max-width: 440px;
  }

  .img-container img {
    width: 250px;
    height: 250px;
  }

  .about-me-container {
    align-items: center;
  }
}


@media (max-width: 1010px) {
  :host {
    padding-left: 90px;
  }
}


@media (max-width: 930px) {
  :host {
    padding-top: 120px;
  }
}


@media (max-width: 900px) {
  :host {
    padding-left: 90px;
    padding-right: 90px;
  }

  .img-container {
    display: none;
  }

  .text-container {
    max-width: unset;
  }

  .text-box {
    margin-top: 55px;
  }

  .headline {
    margin-bottom: 18px;
  }
}


@media (max-width: 750px) {
  :host {
    padding-left: 60px;
    padding-right: 60px;
  }
}


@media (max-width: 630px) {
  :host {
    padding-left: 30px;
    padding-right: 30px;
  }
}


@media(max-width: 600px) {
  .description {
    font-size: 15px;
  }

  .text-box {
    font-size: 15px;
  }
}


@media(max-width: 400px) {
  .text-box {
    margin-top: 45px;
  }

  .headline {
    margin-bottom: 8px;
  }
}


@media (max-width: 360px) {
  :host {
    padding-left: 15px;
    padding-right: 15px;
  }
}