<div class="about-me-container">
  <div class="scroll-to-about-me" id="scroll-to-about-me"></div>
  <div data-aos="fade-right" data-aos-offset="250" class="text-container">
    <h1 class="headline">About me</h1>
    <span class="description">
      Hi, I am a Frontend Developer with hands-on experience in building websites and complex web apps with
      JavaScript & Angular. I am passionate about translating design into innovative code solutions.
      Through my skillset and several project experience I am able to realize extensive projects. You are welcome to
      get an insight into my projects which contains responsive websites and business apps.
    </span>
    <div class="text-box">
      <img class="bulb-icon" src="assets/img/objects/bulb-icon.svg" />
      <span>
        I built landing pages and several web apps, as well as simple business software and chat-messenger applications.
        It is of great importance to me to implement a design exactly with focus on details.
      </span>
    </div>
    <div class="text-box">
      <img class="puzzle-icon" src="assets/img/objects/puzzle-icon.svg" />
      <span>
        Due to my professional experience, I am used to maintaining clear and effective communication,
        enabling smooth teamwork and efficient workflows.
      </span>
    </div>
  </div>

  <div data-aos="fade-left" data-aos-offset="160" class="img-container">
    <img src="assets/img/meran.png" />
    <div class="blue-line-img"></div>
  </div>
</div>

<img class="background-form" src="assets/img/objects/form1.1.png">